* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    background-color: gray;
    color: white;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    width: 100%;
    text-align: center;

}

a:hover {
    color: blue;
    background-color: aqua;
}

.main {
    display: flex;
    width: 100%;
}

.box1,
.box2,
.box3 {
    width: 30%;
    margin: 10px auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin: 10px auto;
}

h1 {
    text-align: center;
    padding: 10px auto;
    text-shadow: 2px 3px 2px aqua;
    font-size: 40px;
}
.baslik{
    text-align: center;
    padding: 10px auto;
    text-shadow: 5px 2px 1px lightgray;
    
}
@media screen and (max-width:700px) {

    .box1,
    .box2,
    .box3 {
        display: block;
        width: 100%;
    }

    .main {
        display: block;
        width: 100%;
    }
    a{
display: block;
    }

}